# LLM Credentials
OPENAI_API_KEY=
GEMINI_API_KEY=
OPENROUTER_API_KEY=

# Set true to enable observability
LOGFIRE_ENABLED=false
# LOGFIRE_TOKEN=your_token_here

# Default model used by LLMJudge evaluator
JUDGE_MODEL=openrouter:google/gemini-3-flash-preview

# Default model used by Agents
MODEL_NAME=openrouter:google/gemini-3-flash-preview

# Default spec & exploration models used by CodeMode pipeline
# Spec agent generates tests
# Exploration agent generates snippets to discover behaviors (code-execution)
SPEC_MODEL=openrouter:anthropic/claude-opus-4.6
EXPLORATION_MODEL=openrouter:anthropic/claude-sonnet-4.6

# Default spec & exploration models used by CodeMode benchmark pipeline
# NOTE: Models should be comma seperated, length of spec models must equals to exploration models
# spec[i] will be mapped to exploration[i] (Case N)
BENCHMARK_SPEC_MODELS=openrouter:anthropic/claude-opus-4.6
BENCHMARK_EXPLORATION_MODELS=openrouter:anthropic/claude-sonnet-4.6