[submodule "vowel-optimization"]
	path = vowel-optimization
	url = https://github.com/fswair/vowel-optimization.git
[submodule "skills/vowel-core"]
	path = skills/vowel-core
	url = https://github.com/fswair/vowel-core.git
